@{
    ViewData["Title"] = "Calculator";
}
<h1>Training Calculator</h1>

<form>
    <div>
        <label for="hours">Number of Hours:</label>
        <input type="number" id="hours" min="0">
    </div>

    <div>
        <label>Hourly Rate:</label>
        <input type="number" id="hourlyRate" value="50" readonly>
    </div>

    <div>
        <input type="button" value="Calculate Total" onclick="CalculateRate()">
    </div>

    <div>
        <label>Total:</label>
        <p id="total"></p>
    </div>

</form>
