@{
    ViewData["Title"] = "Home Page";
}

<h1>Eli's Hobby: Basketball</h1>

<h3>Pics of Eli Hooping</h3>
<img src="~/img/eliHoops1.jpeg" />
<img src="~/img/eliHoops2.jpeg" />

<p>Basketball is a sport that was created by James Naismith in 1891. He was instrumental in the founding of the University of Kansas basketball program. He died in 1939, but not before he saw basketball be introduced into the Olympics, as well as the creation of the NCAA Tournament.</p>
<br />
<br />
<p>Eli started playing the sport in second grade, but much preferred baseball. Only once he began playing basketball in middle school did he realize that he loved it much more than baseball. He began to watch NBA basketball whenever he could (YouTube, illegal streams, friend's houses) and quickly became a veritable fountain of NBA statistics. He had an illustrious high school career and turned down several offers to play basketball in college in order to attend the university of his dreams, BYU.</p>
<br />
<br />
<p>Basketball has become a national pastime in the United States, and has spread to much of the developed world. The NBA, the world's premier league, had 23 international players in 1992. Now, it has over 120 foreign players. 92 countries have produced NBA players.</p>

@Html.ActionLink("Go to Calculator", "Calculator", "Home")
